.business-info-box-container {
    display: flex;
    width: 88%;
    margin-left: 3%;
    margin-right: 0;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-decoration: none;
}

.business-info-box-container:hover {
    box-shadow: 0 0 10px lightgray;
}

.business-picture-container {
    position: relative;
    top: 15%;
    left: 5%;
    background-image: url("stock.jpg");
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius: 6px;
}

.business-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    top: 15%;
    left: 10%;
}

.search-business-name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(8, 8, 8);
}

.search-phone-street-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
    color: grey;
    padding-top: 10px;
    width: 100px;
    text-align: right;
    margin-top: 1%;
    left: -1%;
}

.search-business-phone {
    margin-bottom: 5px;
}

.stars-count-container {
    display: flex;
    flex-direction: row;
}

.stars-container {
    padding-top: 1.5%;
    width: 115px;
    height: 17px;
    display: flex;
    justify-content: space-evenly;
}

.fa-star {
    color: white;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    align-items: center;
    background-color: grey;
    font-size: 10px;
    padding-top: 5%;
    padding-left: 4%;
}

.checked {
    background-color: orange;
}

.review-count {
    padding-top: 2.7%;
    padding-left: 1.8%;
    color: grey;
    font-size: 13px;
}

.cost-cat-container {
    display: flex;
    width: 150px;
    padding-top: 15px;
    padding-left: 3px;
}

.money-sign-container {
    width: 25px;
    height: 25px;
}

.category-container {
    margin-left: 2%;
}

.cost-cat {
    margin-right: 12px;
    color: grey;
    font-size: 13px;
}

.business-item-review {
    margin-top: 10px;
    color: grey;
    font-size: 13px;
}