.body-welp-title {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.body-categories-search {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 212, 212);
}

.home-info-container {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.home-main-content-container {
    min-width: 1020px;
    margin-top: 2%;
    display: flex;
    background-color: lightsalmon;
}

