#login-top-bar {
    height: 70px;
    background-color: rgb(185, 59, 59);
    display: flex;
    justify-content: center;
}

#welp-name-logo-login {
    width: 80px;
    height: 60px;
    background-image: image-url("welp_logo.png");
    background-size: cover;
    background-position: center;
}

#picture-login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login-container {
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-top-words {
    color: rgb(230, 55, 55);
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-signup-words {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 15px;
}

.signup-redirect {
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 91, 233);
}

.signup-redirect:hover {
    text-decoration: underline;
}

.legal-stuff {
    overflow-wrap: break-word;
    font-size: 12px;
    margin-bottom: 30px;
}

.login-tos {
    margin-left: 3px;
    text-decoration: none;
    color: blue;
}

.login-tos:hover {
    text-decoration: underline;
}

.legal-stuff-organized {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-privacy {
    margin-left: 3px;
    text-decoration: none;
    color: blue;
}

.login-privacy:hover {
    text-decoration: underline;
}

.facebook-login:disabled {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #3b5998;
    color: white;
    width: 280px;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.5s ease;
}

.facebook-login:hover {
    background-color: #3b5898b0;
    cursor: pointer;
}

.fa-facebook-square {
    margin-right: 10px;
}

.google-login:disabled {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: rgb(83, 83, 83);
    width: 280px;
    border-radius: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.fa-google {
    margin-right: 10px;
    color: green;
}

.line-seperator {
    border-top: 1px solid lightgrey;
    text-align: center;
}

.or-seperator {
    color: grey;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-username-box {
    padding: 7px;
    margin-bottom: 7px;
    width: 260px;
    font-size: 14px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.login-password-box {
    padding: 7px;
    margin-bottom: 5px;
    width: 260px;
    font-size: 14px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.forgot-password {
    text-decoration: none;
    font-size: 11px;
    color: rgb(48, 91, 233);
    display: flex;
    justify-content: flex-end;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-login-button {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 40, 40);
    width: 280px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    transition: 0.5s ease;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-login-button:hover {
    cursor: pointer;
    background-color: rgba(219, 40, 40, 0.76);
}

.form-signup-words {
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    color: grey;
}

.form-signup-redirect {
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 91, 233);
}

.form-signup-redirect:hover {
    text-decoration: underline;
}

#picture-container {
    margin-left: 20px;
    width: 500px;
    height: 600px;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#picture-container-content {
    width: 350px;
    height: 350px;
    background-image: image-url("login.png");
    background-size: cover;
    background-position: center;
}

