#login-top-bar {
    height: 70px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

#welp-name-logo-login {
    width: 80px;
    height: 60px;
    background-image: image-url("welp_logo.png");
    background-size: cover;
    background-position: center;
}

#picture-login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login-container {
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-top-words {
    color: rgb(230, 55, 55);
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-signup-words {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 15px;
}

.signup-redirect {
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 91, 233);
}

.signup-redirect:hover {
    text-decoration: underline;
}

.login-privacy {
    margin-left: 3px;
    text-decoration: none;
    color: blue;
}

.login-privacy:hover {
    text-decoration: underline;
}

.line-seperator {
    border-top: 1px solid lightgrey;
    margin-bottom: 20px;
    text-align: center;
}

.login-username-box {
    padding: 7px;
    margin-bottom: 7px;
    width: 260px;
    font-size: 14px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.login-password-box {
    padding: 7px;
    margin-bottom: 5px;
    width: 260px;
    font-size: 14px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.login-login-button {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 40, 40);
    margin-top: 5px;
    width: 280px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    transition: 0.5s ease;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-login-button:hover {
    cursor: pointer;
    background-color: rgba(219, 40, 40, 0.76);
}

.form-signup-words {
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    color: grey;
}

.form-signup-redirect {
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 91, 233);
}

.form-signup-redirect:hover {
    text-decoration: underline;
}

#picture-container {
    margin-left: 20px;
    width: 500px;
    height: 600px;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#picture-container-content {
    width: 350px;
    height: 350px;
    background-image: image-url("login.png");
    background-size: cover;
    background-position: center;
}

