#nav-bar {
    background-image: image-url("main_picture.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    // filter: brightness(70%);
}

#home-buttons-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10%;
    left: 30%;
}

// #write-a-review-container:hover {
//     padding-bottom: 5px;
//     border-bottom: 2px solid white;
// }

// #events-container:hover {
//     padding-bottom: 5px;
//     border-bottom: 2px solid white;
// }

// #talk-container:hover {
//     padding-bottom: 5px;
//     border-bottom: 2px solid white;
// }

#home-review-button {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#home-review-button:hover {
    border-bottom: 2px solid white;
}

#event-button {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#event-button:hover {
    border-bottom: 2px solid white;
}

#talk-button {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#talk-button:hover {
    border-bottom: 2px solid white;
}

#session-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 45px;
    left: 61%;
}

#login-button {
    margin-right: 20px;

}

#login-button-text {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

#login-button-text:hover {
    border-bottom: 2px solid white;
}

#signup-button {
    margin-right: 10px;
    position: relative;
    bottom: 12px;
    border: 2px solid white;
    transition: 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

#signup-button:hover {
    background-color: white;
    #signup-button-text {
        color: grey;
    }
}

#signup-button-text {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.logged-in-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 45px;
    left: 61%;
}

.message-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 5px;
}

.message-icon:hover {
    background-color: rgba(0, 0, 0, 0.397);
    border: none;
}

.notification-icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 5px;
}

.notification-icon:hover {
    background-color: rgba(0, 0, 0, 0.397);
    border: none;
}

.fa-comment-alt {
    color: white
}

.fa-bell {
    color: white
}

.profile-dropdown {
    width: 50px;
    height: 50px;
}

#home-search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    top: 10%;
}

#find {
    width: 30px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    top: 3%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: none;
    background: white;
}

#food-search {
    width: 300px;
    height: 40px;
    outline-width: 0;
    border: none;
}

#near {
    width: 30px;
    height: 40px;
    position: relative;
    top: 3%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: none;
    border-left: solid 1px lightgray;
    background: white;
}

#city-search {
    width: 300px;
    height: 40px;
    outline-width: 0;
    border: none;
}

#home-search-button {
    height: 42px;
    width: 55px;
    border: none;
    background-color: rgb(218, 50, 50);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#home-search-button:hover {
    background-color: rgb(190, 35, 35);
    cursor: pointer;
}

#welp-name-logo {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    left: 45%;
    top: 10%;
    background-image: url("welp_logo.png");
}

.fa-search {
    color: rgba(255, 255, 255, 0.911);
}