.index-map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

.searched-businesses-container {
    width: 60%;
    height: 100%;
    // position: sticky;
    // top: 0;
}
