#login-top-bar {
    height: 70px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

#welp-name-logo-login {
    width: 80px;
    height: 60px;
    background-image: image-url("welp_logo.png");
    background-size: cover;
    background-position: center;
}

#picture-signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signup-container {
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-top-words {
    color: rgb(230, 55, 55);
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.signup-words {
    display: flex;
    justify-content: center;
    color: rgb(10, 10, 10);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}

.line-seperator {
    border-top: 1px solid lightgrey;
    text-align: center;
}

.or-seperator {
    color: grey;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.first-input-box {
    padding: 8px;
    font-size: 14px;
    width: 120px;
    margin-right: 4px;
    border: none;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 6px;
}

.last-input-box {
    padding: 8px;
    font-size: 14px;
    width: 120px;
    border: none;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 6px;
    margin-bottom: 6px;
}

.signup-input-box {
    padding: 7px;
    margin-bottom: 7px;
    width: 264px;
    font-size: 14px;
    border: none;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 6px;
}

.signup-signup-button {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 40, 40);
    width: 280px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    transition: 0.5s ease;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signup-signup-button:hover {
    cursor: pointer;
    background-color: rgba(219, 40, 40, 0.76);
}

.form-login-words {
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    color: grey;
}

.form-login-redirect {
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 91, 233);
}

.form-login-redirect:hover {
    text-decoration: underline;
}

#picture-container {
    margin-left: 20px;
    width: 500px;
    height: 600px;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#picture-container-content {
    width: 350px;
    height: 350px;
    background-image: image-url("login.png");
    background-size: cover;
    background-position: center;
}

